!!!
%html
  %head
    %title Ethereum Wallet Presentation by @makevoid
    %meta{:charset => "utf-8"}/
    :css
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      body { font-family: 'Droid Serif'; }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

      ol { font-size: 1.3em }

      .remark-code {
        font-size: 17px;
      }

      .remark-code-line { font-size: 1.7em }

      pre.medcode { margin-left: -45px }

      pre.smallcode .remark-code-line { font-size: 1.25em }
      pre.medcode .remark-code-line { font-size: 1.4em }

      .hljs.remark-code {
        position: relative;
        background: #fff;
        overflow: hidden;
        width: 100%;
      }

      iframe {
        width: 105%; height: 550px; position: relative; top: -35px;
      }

      @page {
        size: 1210px 681px;
        margin: 0;
      }

      @media print {
        .remark-slide-scaler {
          width: 100% !important;
          height: 100% !important;
          transform: scale(1) !important;
          top: 0 !important;
          left: 0 !important;
        }
      }

      .remark-slide-number:after {
        content: "@makevoid";
        position: absolute;
        left: -130px;
        top: 0;

        /* content: "DRAFT // @makevoid";
        top: -50px;
        color: #E00;
        font-weight: bold */
      }

      img {
        width: 95%;
        margin: 0 auto;
      }

      a {
        color: #346ff9;
        text-decoration: none;
      }

      a:hover {
        color: #547fff;
      }

      /*   left: -65px; */

  %body
    %textarea#source
      :preserve
        #{File.read "./eth-wallet-presentation.md"}
    %script{:src => "/js/vendor/remark.js"}
      :cdata
    :javascript
      var slideshow = remark.create();

    :javascript
      var confirmOnPageExit = function (e)
      {
          e = e || window.event;
          var message = 'shtop!';
          return message;
      };
      window.onbeforeunload = confirmOnPageExit;
